
body{
    background-color: black;

}

.reg_btn{
    text-align: center;
    margin-top: 20%;
}
.news_btn{
    text-align: center;
    
    
}

.news{
    overflow: auto;
    word-wrap: break-word;
    padding-left: 10%;
    padding-right: 10%;

    
}
.news .n_title{
    font-size: large;
    font-weight: bold;
    color: red;
}
.news .n_news{
    white-space: pre-line;
    line-height: 1em;
    margin-left: auto;
    color: white;

}
.n_label{
    color: red;
}
.login{
    text-align: center;
    margin-top: 20%;
    opacity: 1;
}
























::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FF0000;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }