<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'special.css') }}">
    <title>FLASK</title>
    
</head>
<body>
        
        <form action="{{url_for('news')}}">
            <input type="image" class="cover" src="static/img/kagejitsu.jpg">
        </form>
        
        

        
        <div class="wrapper-bot">
            <img class="marquee" src="static/img/ttl_eng.svg" alt="">
            <img class="marquee" src="static/img/ttl_eng.svg" alt="">
            <img class="marquee" src="static/img/ttl_eng.svg" alt="">
        </div>
        <div class="wrapper-top">
            <img class="marquee" src="static/img/ttl_eng.svg" alt="">
            <img class="marquee" src="static/img/ttl_eng.svg" alt="">
            <img class="marquee" src="static/img/ttl_eng.svg" alt="">
        </div>



 

        
        



    

    

    
</body>
</html>