<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style1.css') }}">
</head>
<body>
    <div style="text-align: center; margin-top: 10%;">
        <div class="news_sent">
            <h2 style="color: red;">News Sent</h2>
        </div>
    <form action="{{url_for('news')}}">
        <button style="width: 150px;">View news</button>
    </form>
    <form action="{{url_for('admin')}}">
        <button style="width: 150px;">Compose news</button>
    </form>
    </div>
</body>
</html>